%div{:data=>{:role=>"header", :theme=>"#{@app.jquerytheme}"}}
  %a{:href=>"/a?seed=#{@app.seed}"} Home
  %h1#logo #{@app.name}
%h1 #{Thesaurus::CONTACT.sample.capitalize}
%p Do you #{Thesaurus::CARE.sample} #{@app.getKeyword}? Do you #{Thesaurus::CARE.sample} #{@app.getKeyword}? You should tell your congressman about it. The data is striking and the government needs to know!
.row-fluid
  .congressman.span4
    %p Your local congress man is 
    %img.img.img-polaroid{:src=>"http://placehold.it/200x200"}
  .span8
    %form.form-horizontal
      .control-group
        %label.control-label{:for=>"inputName"} Your name
        .controls
          %input#inputName{:type=>"text", :placeholder=>"Name"}
      .control-group
        %label.control-label{:for=>"inputEmail"} Your email address
        .controls
          %input#inputEmail{:type=>"text", :placeholder=>"Email"}
          %br/
          %hr
          %button.btn.btn-success{:type=>"submit"} Submit
%div{:data=>{:role=>"footer", :theme=>"#{@app.jquerytheme}"}}
  %div{:data=>{:role=>"navbar", :theme=>"#{@app.jquerytheme}"}}
    %ul
      %li
        %a{:href=>"/a/info?seed=#{@app.seed}"} #{Thesaurus::ABOUT.sample.capitalize}
      %li
        %a{:href=>"/a/contact?seed=#{@app.seed}"} #{Thesaurus::CONTACT.sample.capitalize}
      %li
        %a{:href=>"/a/map?seed=#{@app.seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
