%div{:data=>{:role=>"header", :theme=>"#{@app.jquerytheme}"}}
  %a{:href=>"/a?seed=#{@app.seed}"} Home
  %h1#logo about #{@app.name}
  %p
    =@app.collabfinder_what
  %p #{@app.name} is based on the following datasets.
  %ul
    - @app.sources.each do |dataset|
      %li <a href="https://data.cityofnewyork.us/-/-/#{dataset['id']}">#{dataset['name']}</a>: #{dataset['description']}
%div{:data=>{:role=>"footer", :theme=>"#{@app.jquerytheme}"}}
  %div{:data=>{:role=>"navbar", :theme=>"#{@app.jquerytheme}"}}
    %ul
      %li
        %a{:href=>"/a/info?seed=#{@app.seed}"} #{Thesaurus::ABOUT.sample.capitalize}
      %li
        %a{:href=>"/a/contact?seed=#{@app.seed}"} #{Thesaurus::CONTACT.sample.capitalize}
      %li
        %a{:href=>"/a/map?seed=#{@app.seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
