- @about_page = AboutPresenter.new(@app.dataset)
%div{:data=>{:role=>"header", :theme=>"#{@app.jquerytheme}"}}
  %a{:href=>"/a/?seed=#{@seed}"} Home
  %h1#logo #{@app.name}
%h1 about us
%p #{@about_page.getDataDescription}
%p
  =Thesaurus::getParagraphs(1)
%p
  =Thesaurus::getParagraphs(1)
%p
  =Thesaurus::getSentences(1)
%div{:data=>{:role=>"footer", :theme=>"#{@app.jquerytheme}"}}
  %div{:data=>{:role=>"navbar", :theme=>"#{@app.jquerytheme}"}}
    %ul
      %li
        %a{:href=>"/a/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
      %li
        %a{:href=>"/a/contact?seed=#{@seed}"} #{Thesaurus::CONTACT.sample.capitalize}
      %li
        %a{:href=>"/a/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
