%div{:data=>{:role=>"header", :theme=>"#{@app.jquerytheme}"}}
  %a{:href=>"/a?seed=#{@seed}"} Home
  %h1#logo #{@app.name}
%h1 about us
%p
  =@app.description
%p
  =@app.collabfinder_what
%p
  =@app.collabfinder_why
%p
  =@app.collabfinder_need
%div{:data=>{:role=>"footer", :theme=>"#{@app.jquerytheme}"}}
  %div{:data=>{:role=>"navbar", :theme=>"#{@app.jquerytheme}"}}
    %ul
      %li
        %a{:href=>"/a/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
      %li
        %a{:href=>"/a/contact?seed=#{@seed}"} #{Thesaurus::CONTACT.sample.capitalize}
      %li
        %a{:href=>"/a/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
