= partial("views/boilerplates/foundation/_nav.haml")
.panel.callout
  %h1#logo #{@app.name}
  %h2.subheader 
    = Thesaurus.getSentences(1)
  %a{:class=>"large button round success"} Check out the Data!
.row
  .small-4.columns.panel
    %h4
      = Thesaurus.getSentences(1)
    %p 
      = Thesaurus.getSentences(3)
    %a{:class=>"button", :href=> "/a/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
  .small-4.columns.panel
    %h4
      = Thesaurus.getSentences(1)
    %p 
      = Thesaurus.getSentences(3)
    %a{:class=>"button", :href=>"/a/contact?seed=#{@app}"} #{Thesaurus::CONTACT.sample.capitalize}
  .small-4.columns.panel
    %h4
      = Thesaurus.getSentences(1)
    %p 
      = Thesaurus.getSentences(3)
    %a{:class=>"button", :href=>"/a/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
