= partial("views/boilerplates/kendoui/_nav.haml")
%h1 about us
%p
  =@app.description
%p
  =@app.collabfinder_what
%p
  =@app.collabfinder_why
%p
  =@app.collabfinder_need
%div{:data=>{:role=>"footer"}}
  %div{:data=>{:role=>"tabstrip"}}
    %a{:href=>"/info?seed=#{@seed}"} #{Thesaurus::ABOUT.sample.capitalize}
    %a{:href=>"/contact?seed=#{@seed}"} #{Thesaurus::CONTACT.sample.capitalize}
    %a{:href=>"/map?seed=#{@seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
