%header
  .row-fluid
    %a.left{:href=>"/"}  
      %h1 AppGen
    %a.btn.btn-reset.right{:href=>""} Gimme another!
#main
  %iframe#app-frame{:src => "/a?seed=#{@app.seed}", :height => "600"}
  #app-description
    %h3
      %a{:href => "/a?seed=#{@app.seed}"}
        = @app.name
    %p #{@app.collabfinder_what}
    %p It is based on the following datasets.
    %ul
      - @app.sources.each do |dataset|
        %li <a href="https://data.cityofnewyork.us/-/-/#{dataset['id']}">#{dataset['name']}</a>: #{dataset['description']}
