%header
  %div{:class=>"#{@app.navbar}"}
    .navbar-inner
      %a.brand#logo{:href=>".?seed=#{@app.seed}"} #{@app.name}
      %ul.nav
        %li
          %a{:href=>"info?seed=#{@app.seed}"} #{Thesaurus::ABOUT.sample.capitalize}
        %li
          %a{:href=>"contact?seed=#{@app.seed}"} #{Thesaurus::CONTACT.sample.capitalize}
        %li
          %a{:href=>"map?seed=#{@app.seed}"} #{Thesaurus::VIEW.sample.capitalize} Map
